page-patient-insurance {
    
        .red {
            background:#ff3000;
            padding:10px;
            text-align: center;
            color:#fff;
        }
        .blue {
            background:#1170a7;
            padding:10px;
            text-align: center;
            color:#fff;
        }
        .yellow {
            background:#ffd800;
            padding:10px;
            text-align: center;
            color:#333;
        }
        .green {
            background:#0e9b46;
            padding:10px;
            text-align: center;
            color:#fff;  
        }
        .Rsmall {
            background:#ff3000;
            padding:10px;  
        }
        .head1 {
            font-weight:bold;
            color:#333;
        }
        .ion-item1 {
            border-bottom: 1px solid #ccc;
        }
        .dotted {
            height: 66%;
            border-right: 3px dashed #000;
            width: 0;
        }
        .top {
            background: red;
                     border-top-left-radius: 22px;
                    
                     border-top-right-radius: 22px;
                     position: absolute;
                    
            width: 100%;
            text-align: center;
            padding: 22px;
        }
        .bottom {
            background: #ccc;
                       border-bottom-left-radius: 22px;
                      border-bottom-right-radius: 22px;
                      position: absolute;
            top: 66px;
            width: 100%;
            padding: 22px;
            text-align: center;
        }
        .bgg {
            background-image: url("/assets/images/bg1.png");
        }
        
        .new {
            border-bottom-left-radius: 22px;
            border-bottom-right-radius: 22px;
            border-top-left-radius: 22px;
                    
            border-top-right-radius: 22px;
            background: linear-gradient(to top, blue 50%, yellow 50%);
            
            padding:5px;
        }
        .div {
            height: 60px;
            width: 150px;
            margin: 0 auto;
            background: transparent;
            border-radius: 80px ;
            border: 4px solid black;
          }
          
          .div div {
            width: 50%;
            height: 100%;
            border-radius: 80px ;
          }
          
          .div div:hover {
            background: red;
          }
          
          .right {
            float: right;
            border-left: 2px solid #000;
            margin-right: -2px;
           border-top-left-radius: 0 !important;
           border-bottom-left-radius: 0 !important;
          }
          .right:hover {
            background: #FFFFFF;
          }
          .left {
            float: left;
            border-right: 2px solid #000;
            margin-right: -2px;
           border-top-right-radius: 0 !important;
           border-bottom-right-radius: 0 !important;
          }
          
          .left:hover {
            background: #FFFFFF;
          }
          .top1 {
            background: red;
            border-top-left-radius: 34px;
           
            width: 97%;
            position: absolute;
            line-height: 20px;
            min-height: 50px;
            color:#fff;
            
            padding-top: 19px;
            text-align: center;
            border-top-right-radius: 34px;
            font-size:10px;
          }
        
          .bottom1 {
            background: #f0f0f0;
            border-bottom-left-radius: 34px;
           
            position: absolute;
            width: 97%;
            min-height: 43px;
            border-bottom-right-radius: 34px;
            text-align:center;
            padding-top:14px;
            font-weight:bold;
          }
          .top2 {
            background:#1170a7;
            border-top-left-radius: 34px;
           
            width: 97%;
            position: absolute;
            line-height: 20px;
            min-height: 50px;
            color:#fff;
            font-size:10px;
            padding-top: 19px;
            text-align: center;
            border-top-right-radius: 34px;
          }
        
          .bottom2 {
            background: #f0f0f0;
            border-bottom-left-radius: 34px;
           
            position: absolute;
            width: 97%;
            min-height: 43px;
            border-bottom-right-radius: 34px;
            text-align:center;
            padding-top:14px;
            font-weight:bold;
          }
          .top3 {
            background:#ecac00;
            border-top-left-radius: 34px;
            font-size:10px;
            width: 97%;
            position: absolute;
            line-height: 20px;
            min-height: 50px;
            color:#fff;
            
            padding-top: 19px;
            text-align: center;
            border-top-right-radius: 34px;
          }
        
          .bottom3 {
            background: #f0f0f0;
            border-bottom-left-radius: 34px;
           
            position: absolute;
            width: 97%;
            min-height: 43px;
            border-bottom-right-radius: 34px;
            text-align:center;
            padding-top:14px;
            font-weight:bold;
          }
          .top3 {
            background:#ecac00;
            border-top-left-radius: 34px;
            font-size:10px;
            width: 97%;
            position: absolute;
            line-height: 20px;
            min-height: 50px;
            color:#fff;
            
            padding-top: 19px;
            text-align: center;
            border-top-right-radius: 34px;
          }
        
          .bottom3 {
            background: #f0f0f0;
            border-bottom-left-radius: 34px;
           
            position: absolute;
            width: 97%;
            min-height: 43px;
            border-bottom-right-radius: 34px;
            text-align:center;
            padding-top:14px;
            font-weight:bold;
          }
          .top4 {
            background:#0e9b46;
            border-top-left-radius: 34px;
           
            width: 97%;
            position: absolute;
            line-height: 20px;
            min-height: 50px;
            color:#fff;
            font-size:10px;
            padding-top: 19px;
            text-align: center;
            border-top-right-radius: 34px;
          }
        
          .bottom4 {
            background: #f0f0f0;
            border-bottom-left-radius: 34px;
           
            position: absolute;
            width: 97%;
            min-height: 43px;
            border-bottom-right-radius: 34px;
            text-align:center;
            padding-top:14px;
            font-weight:bold;
          }
          .list-md .item-block .item-inner {
            border-bottom: 1px solid #dedede;
            border-left: 2px dotted #ccc;
            padding-left: 6px;
        }
        }
        

