<!--
  Generated template for the PatientInsurancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar >
  <ion-toolbar color="rose" >
      <ion-buttons start>
          <button ion-button icon-only menuToggle>
              <ion-icon name="menu"> </ion-icon>
            </button>
      </ion-buttons>
      <ion-title></ion-title>
    <ion-buttons end>
        <button ion-button (click)="openModal()"> <ion-icon name="notifications" style="line-height:30px;color:#fff;font-size:21px;margin-top:-39px;" ></ion-icon></button>
     
        <img src="assets/images/logo1.png" style="height:50px;" start>
    </ion-buttons>
  
    
  
    
  </ion-toolbar>
  </ion-navbar>
  </ion-header>
  


  <ion-content padding>
    
    <ion-grid>
        <ion-row >
      
            <ion-col col-3>
             <span class="top1"> Low level
               </span>
             <br> <br><br>
             
               <span class="bottom1">15</span>
                 <div class="clearfix"></div>
              </ion-col>
              <ion-col col-3>
                <span class="top2"> Normal level
                  </span>
                <br> <br><br>
                
                  <span class="bottom2">30</span>
                    <div class="clearfix"></div>
                 </ion-col>
                 
                 <ion-col col-3>
                  <span class="top3"> High level
                    </span>
                  <br> <br><br>
                  
                    <span class="bottom3">45</span>
                      <div class="clearfix"></div>
                   </ion-col>
                   <ion-col col-3>
                    <span class="top4"> Very High level
                      </span>
                    <br> <br><br>
                    
                      <span class="bottom4">70 </span>
                        <div class="clearfix"></div>
                     </ion-col>
                    
          </ion-row>
   <div style="clear:both"></div>
      <ion-row text-center style="margin-top:40px;">
          <ion-col col-6>
           <img src="assets/images/red.png">  Low Level
            </ion-col>
            <ion-col col-6>

                <img src="assets/images/blue.png"> 
               Normal Level
                </ion-col>
              
                    
  
        </ion-row>
        <ion-row text-center>
            <ion-col col-6>
                <img src="assets/images/yellow.png">  High Level
             
              </ion-col>
              <ion-col col-6>
                  <img src="assets/images/green.png"> 
                 Very High Level
                  </ion-col>
                  
    
          </ion-row>
   </ion-grid>

   
      <ion-list>
       
          <ion-item class="ion-item1">
              
            <ion-avatar item-start>
                
              <img src="assets/images/pp.jpg" id="hexagon-circle">
              <img src="assets/images/green.png" style="position: relative;
            
              width: auto;
              height: auto;
              right: -50px;bottom:20px;"> 
            </ion-avatar>
        
              
           
            <h2 class="head1">Patient1</h2>
           
            <h3>Heart Patient</h3>
            <i style="color:#565656;font-size:13px;">Idano,U.S.A</i>
            
            <p item-end><img src="assets/images/send.png" style="height:30px;"></p>
         
          </ion-item>
          <ion-item class="ion-item1">
              <ion-avatar item-start>
                  
                <img src="assets/images/pp.jpg" id="hexagon-circle">
                <img src="assets/images/green.png" style="position: relative;
            
              width: auto;
              height: auto;
              right: -50px;bottom:20px;"> 
              </ion-avatar>
              <h2 class="head1">Patient2</h2>
              <h3>Heart Patient</h3>
              <i style="color:#565656;font-size:13px;">Idano,U.S.A</i>
              <p item-end><img src="assets/images/send.png" style="height:30px;"></p>
            </ion-item>
            <ion-item class="ion-item1">
                <ion-avatar item-start>
                    
                  <img src="assets/images/pp.jpg" id="hexagon-circle">
                  <img src="assets/images/red.png" style="position: relative;
            
              width: auto;
              height: auto;
              right: -50px;bottom:20px;"> 
                </ion-avatar>
                <h2 class="head1">Patient3</h2>
                <h3>Heart Patient</h3>
                <i style="color:#565656;font-size:13px;">Idano,U.S.A</i>
                <p item-end><img src="assets/images/send.png" style="height:30px;"></p>
              </ion-item>
              <ion-item class="ion-item1">
                  <ion-avatar item-start>
                      
                    <img src="assets/images/pp.jpg" id="hexagon-circle">
                    <img src="assets/images/green.png" style="position: relative;
            
              width: auto;
              height: auto;
              right: -50px;bottom:20px;"> 
                  </ion-avatar>
                  <h2 class="head1">Patient4</h2>
                  <h3>Heart Patient</h3>
                  <i style="color:#565656;font-size:13px;">Idano,U.S.A</i>
                  <p item-end><img src="assets/images/send.png" style="height:30px;"></p>
                </ion-item>
        </ion-list>
    
       
</ion-content>
