<!--
  Generated template for the InsurancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
    <ion-tabs>
        <ion-tab [root]="tab1Root" tabTitle=" Patients" ></ion-tab>
        <ion-tab [root]="tab2Root" tabTitle="Appontments"></ion-tab>
        
      </ion-tabs>
      
  </ion-content>
  