<ion-header  no-border>
  <ion-navbar >
<ion-toolbar color="rose" >
    <ion-buttons start>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"> </ion-icon>
          </button>
    </ion-buttons>
    <ion-title></ion-title>
  <ion-buttons end>
      <button ion-button (click)="openModal()"> <ion-icon name="notifications" style="line-height:30px;color:#fff;font-size:21px;margin-top:-39px;" ></ion-icon></button>
     
      <img src="assets/images/logo1.png" style="height:50px;" start>
  </ion-buttons>




</ion-toolbar>
</ion-navbar>
</ion-header>


<ion-content>
  <div class="bg">
    <div style="text-align:center;">
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-3> <img src="assets/images/profile.png" class="profile"></ion-col>
            <ion-col col-4>  <h4>{{userName}}<br><span>{{userage}} years</span></h4>
           </ion-col>
            <ion-col col-2></ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-12 style="text-align:center;">
              <p>Patient Type: {{patientType}}</p>
              <p>Email:{{useremail}}</p>
            </ion-col>
        </ion-row>
     
      </div>
    </div>
    <div>
      <ion-row>
        <ion-col col-4>


            <ion-card text-center>

                <ion-card-content class="pinkclr">
                  <img src="assets/images/bp.png" class="iconpading">
                 <h5 style="font-size:16px;">128/70</h5>
                 <span style="font-size:8px;line-height:10px;">Blood Pressure</span>
                </ion-card-content>
              </ion-card>


      </ion-col>
      <ion-col col-4>


          <ion-card text-center>

              <ion-card-content class="pinkclr">
                <img src="assets/images/bp1.png" class="iconpading">
               <h5 style="font-size:16px;">{{heartbeat}}</h5>
               <span style="font-size:8px;line-height:10px;">Heart Rate</span>
              </ion-card-content>
            </ion-card>


    </ion-col>
    <ion-col col-4>
          <ion-card text-center>

            <ion-card-content class="pinkclr">
              <img src="assets/images/temp.png" class="iconpading">
             <h5 style="font-size:14px;">{{temperature}} &#8451;</h5>
             <span style="font-size:8px;line-height:10px;">Tempurature</span>
            </ion-card-content>
          </ion-card>
  </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-4>


            <ion-card text-center>

                <ion-card-content class="pinkclr">
                  <img src="assets/images/respiration.png" class="iconpading">
                 <h5 style="font-size:16px;">67</h5>
                 <span style="font-size:8px;line-height:10px;">Respiration rate</span>
                </ion-card-content>
              </ion-card>


      </ion-col>
      <ion-col col-4>


          <ion-card text-center>

              <ion-card-content class="pinkclr">
                <img src="assets/images/o2.png" class="iconpading">
               <h5 style="font-size:16px;">78</h5>
               <span style="font-size:8px;line-height:10px;">Spo2</span>
              </ion-card-content>
            </ion-card>


    </ion-col>
    <ion-col col-4>
          <ion-card text-center>

            <ion-card-content class="pinkclr">
              <img src="assets/images/pulse.png" class="iconpading">
             <h5 style="font-size:16px;">100</h5>
             <span style="font-size:8px;line-height:10px;">Pulse Rate</span>
            </ion-card-content>
          </ion-card>
  </ion-col>
    </ion-row>
    <h6>Upload Documents</h6>
    <ion-row>
     
      <div style="clear:both;"></div>
        <ion-col col-4>


            <ion-card text-center style="min-height:74px !important;">

                <ion-card-content class="pinkclr">
                  <img src="assets/images/xray.png" class="iconpading" >
                 <!-- <h5 style="font-size:16px;">120/80</h5> -->
                 <span style="font-size:8px;line-height:10px;">Upload X-ray</span>
                </ion-card-content>
              </ion-card>


      </ion-col>
      <ion-col col-4>


          <ion-card text-center  style="min-height:74px !important;">

              <ion-card-content class="pinkclr">
                <img src="assets/images/ecg.png"class="iconpading">
              
               <span style="font-size:8px;line-height:10px;">Upload Ecg</span>
              </ion-card-content>
            </ion-card>


    </ion-col>
    <ion-col col-4>
          <ion-card text-center style="min-height:74px !important;">

            <ion-card-content class="pinkclr">
              <img src="assets/images/lab.png" class="iconpading">
           
             <span style="font-size:8px;line-height:10px;">Upload lab</span>
            </ion-card-content>
          </ion-card>
  </ion-col>
    </ion-row>

      </div>

</ion-content>
