page-about {
    ion-content{
        background:#edf2f5 !important;
    }
    .bg {
        background-image: url("../assets/images/bg1.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding-top: 2%;
        padding-bottom: 16%;
       
     }
     .card-content-md {
        padding: 0px 10px !important;
        font-size: 1.4rem;
        line-height: 1.5;
    }
     .profile {
        width:75px;
        height:75px;
     }
     ion-card img {
         width:auto !important;
         margin:auto !important;
     }
     .iconpading {
         padding:8px;
     }
     h4 {
         font-size:16px;
         color:#fff;
         font-weight:lighter;
     }
     p {
         font-size:11px;
         color:#fff;
         font-weight:lighter;
     }
     ion-card {
         min-height:100px
     }
}
