page-login {
    ion-content {
        background-image: url("../assets/images/bg.jpg");
        background-size: cover;
        text-align: center;
    }
    h2 {
        color:#fff;
        margin-top:20px;
        font-weight: lighter;
    }
    img {
       width:200px;
       margin:auto;
       margin-top:20px;
    }
    ::placeholder {
        color:#fff;
        opacity: 0.5;
        
      }
  .input1{
padding: 10px;
border:none !important;
border-bottom:1px solid #fff !important;
width:85%;
margin:auto;
margin-bottom:15px;
background: transparent;
color:#fff;
  }
.login {
    webkit-box-shadow:0px 10px 30px rgba(95,136,233,0.4);
    background: #de0946 !important;
}
}
