


<ion-content  hide-nav-bar="true">
    <br>
    <br>
    <br>
    <br>
  <h2>Login</h2>
<img src="assets/images/logo.png" alt="logo">
<br>
<br>
<br>
<br>
<br>

<input type="text" [(ngModel)]="username" placeholder="Username" class="input1">

<input type="password"  [(ngModel)]="password" placeholder="Password" class="input1">
<button  color="rose" ion-button class="login" (click)="login()">Submit</button>
<button  color="rose" ion-button class="login" (click)="signup()">Sign Up</button>


</ion-content>
