


<ion-content>
    <ion-tabs>
        <ion-tab [root]="tab1Root" tabTitle="Activity" ></ion-tab>
        <ion-tab [root]="tab2Root" tabTitle="Profile"></ion-tab>

      </ion-tabs>

  </ion-content>
