<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notifications</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()"><ion-icon name="close-circle" style="color:red;"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <ion-item  *ngFor="let notification of notifications">
       {{notification.notification_discri}}
        </ion-item>
    </ion-list>
</ion-content>
