<ion-menu [content]="mycontent">
    <ion-header>
        <ion-toolbar>
          <ion-title>{{this.userName}}</ion-title>
        </ion-toolbar>
      </ion-header>
  <ion-content>
      <ion-list>
          <ion-item (click)="addUser()">
              <ion-icon name="add-circle" item-start></ion-icon>Add {{this.addingUser}}  </ion-item>
          <ion-item (click)="addDevice()" *ngIf="showDevice">
              <ion-icon name="add-circle" item-start></ion-icon>Add Device </ion-item>
          <ion-item  (click)="logout();">
              <ion-icon name="log-out" item-start></ion-icon>Logout</ion-item>
        </ion-list>

    <ion-list>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #mycontent swipeBackEnabled="false"></ion-nav>
