page-doctor-insurance {
    .bg {
        background-image: url("../assets/images/bg2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding-top:10px;
        padding-bottom:40px;
       
     }
     .calendar-col {
         border-left:none !important;
         border-top:none !important;
     }
     ion-content{
        background:#edf2f5 !important;
    }
    .name {
        font-size:10px;

    }
    .head1 {
        color:#de0a44;
    }
h4 {
    font-size: 15px;
    color: #333;
    text-align: center;
}
.ion-item1 {
    margin-bottom:6px;
}
ion-calendar .calendar-row .not-this-month {
    background: transparent;
} 
ion-col.center.calendar-col.col.this-month {
    color:#fff;
}
ion-calendar .calendar-header-col {
    color:#fff;
}
ion-calendar .calendar-row .calendar-col:last-child {
    border-right:none;
}
ion-calendar .calendar-row:last-child {
    border-bottom:none;
}
ion-calendar {
    color:#fff;
}
ion-calendar {
    background:transparent !important;
}
span.button-inner {
    color:#fff;
}
}
