<!--
  Generated template for the DoctorInsurancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar >
  <ion-toolbar color="rose" >
      <ion-buttons start>
          <button ion-button icon-only menuToggle>
              <ion-icon name="menu"> </ion-icon>
            </button>
      </ion-buttons>
      <ion-title></ion-title>
    <ion-buttons end>
        <img src="assets/images/logo1.png" style="height:50px;" start>
    </ion-buttons>
  
    
  
    
  </ion-toolbar>
  </ion-navbar>
  </ion-header>
  


  <ion-content>
    <div class="bg">
    <ion-calendar #calendar></ion-calendar>
    </div>
    <h4>Today's Appointments</h4>
    
    
       
      
        
              <ion-item class="ion-item1 card card-md">
                  
                  <ion-avatar item-start>
                      
                    <img src="assets/images/pp.jpg" id="hexagon-circle">
                  </ion-avatar>
              
                  
                  
                  <h2 class="head1">Heart Surgery</h2>
                 
                  <span class="name">For Ms.Chandini</span>
                 
                  
                  <p item-end><i class="fa fa-clock-o" aria-hidden="true"> 10.30 a.m</i></p>
               
                </ion-item>
                <ion-item class="ion-item1 card card-md">
                  
                    <ion-avatar item-start>
                        
                      <img src="assets/images/pp.jpg" id="hexagon-circle">
                    </ion-avatar>
                
                    
                    
                    <h2 class="head1">Heart Surgery</h2>
                   
                    <span class="name">For Ms.Chandini</span>
                   
                    
                    <p item-end><i class="fa fa-clock-o" aria-hidden="true"> 10.30 a.m</i></p>
                 
                  </ion-item>
                
          
        
      
  </ion-content>
