page-home {
   ion-content{
       background:#edf2f5 !important;
   }
   a.canvasjs-chart-credit {
    display: none;
}
 ion-header{
     background-color: #d5092d;
 }
 .bg {
    background-image: url("../assets/images/bg1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

 }
 #notifications-badge {
  background-color: red;
  position: absolute;
  top: -27px;
  right: -3px;
  border-radius: 100%;
}
 .slide-zoom {
     height:270px;
 }
 #tempurature {
     height:150px !important;
 }
 .mrgn{
    padding-top: 3%;
    padding-bottom: 8%;
 }
 .newclr {
     color:#fff;
     border-bottom:1px solid #fff;
     font-size:11px;
 }
 .newclr1 {
    color:#fff;
    font-size:24px;
    padding-top:20px;
}
.pinkclr {
    color:#dd0a43 !important;
    font-size:15px !important;
}
.grey {
    color:#333 !important;
    padding-top:5px;
}
.conditions {
    margin-top:0px;
    margin-bottom:0px;
}
.bg3 {
    background-color: #e7e3e4;
    padding:10px;
    text-align:center;
}
h5 {
    font-size:14px;
}
.line {
    vertical-align: middle;
}
}
