
<ion-header>
    <ion-navbar >
  <ion-toolbar color="rose" >
      <ion-buttons start>
          <button ion-button icon-only menuToggle>
              <ion-icon name="menu"> </ion-icon>
            </button>
      </ion-buttons>
      <ion-title></ion-title>
      <ion-buttons end>
          <button ion-button (click)="openModal()"> <ion-icon name="notifications" style="line-height:30px;color:#fff;font-size:21px;margin-top:-39px;" ></ion-icon>
            <ion-badge id="notifications-badge" color="danger" *ngIf="alerts.length > 0">{{alerts.length}}</ion-badge>
          </button>

          <img src="assets/images/logo1.png" style="height:50px;" start>
      </ion-buttons>




  </ion-toolbar>
</ion-navbar>
</ion-header>



  <ion-content>
      <div class="bg">
      <ion-grid class="mrgn">
          <ion-row>
            <ion-col col-3><span class="newclr">Blood pressure</span>
              <br><br>
              <span class="newclr1">128/70</span>
            </ion-col>
            <ion-col col-6>
             <!-- <img src="assets/images/22.png" style="width:20px;margin:auto;position:absolute;top:0;bottom:0;left:0;right:0">
              -->
              <h4 style="color:#fff;font-size:15px;text-align: center;margin-top:0;margin-bottom:0;font-weight: lighter;">Heart Rate</h4>
            <div style="height:120px !important">
              <canvas id="myChart" style="width:100%; height:100% !important;"></canvas>
 </div>
              <!-- <canvas #doughnutCanvas ></canvas>-->


            </ion-col>
            <ion-col col-3><span class="newclr">Tempurature</span>
              <br><br>
              <span class="newclr1">{{temperatures}} &#8451;</span>
            </ion-col>
          </ion-row>

        </ion-grid>

     </div>
     <div class="conditions">
        <ion-row>
            <ion-col col-3>


                <ion-card text-center>

                    <ion-card-content class="pinkclr">
                     {{abnormalcount}}
                    </ion-card-content>
                  </ion-card>


          </ion-col>
          <ion-col col-3>


             <h5 class="grey">Abnormal conditions</h5>

        </ion-col>
        <ion-col col-3>


            <ion-card text-center>

                <ion-card-content class="pinkclr">
                 1
                </ion-card-content>
              </ion-card>


      </ion-col>
      <ion-col col-3>


         <h5 class="grey">Missed Medication</h5>

    </ion-col>
          </ion-row>

          <ion-row>
              <ion-col col-3>


                  <ion-card text-center>

                      <ion-card-content class="pinkclr">
                       4
                      </ion-card-content>
                    </ion-card>


            </ion-col>
            <ion-col col-3>


               <h5 class="grey">Missed Appointment</h5>

          </ion-col>
          <ion-col col-3>


              <ion-card text-center>

                  <ion-card-content class="pinkclr">
                   4
                  </ion-card-content>
                </ion-card>


        </ion-col>
        <ion-col col-3>


           <h5 class="grey">Abnormal conditions</h5>

      </ion-col>
            </ion-row>
       </div>
       <div class="bg3">

         <ion-slides pager>

            <ion-slide>
                <h3><img src="assets/images/cardiogram.png" style="width:30px;"  class="line" > <span >Heart trend</span></h3>
      <div style="height:120px !important;">
                <canvas #lineCanvas  style="height:250px !important;"></canvas>
           </div>

              </ion-slide>

            <ion-slide>
              <h3><img src="assets/images/bp.png" style="width:30px;"  class="line" > <span >Blood Pressure</span></h3>
              <div style="height:120px !important;"> <canvas  style="height:250px !important;"#bloodPressure></canvas>

                </div>
            </ion-slide>

            <ion-slide>
              <h3><img src="assets/images/temp.png" style="width:30px;"  class="line" > <span >Tempurature</span></h3>

              <div style="height:120px !important;">
              <canvas  #tempurature style="height:250px !important;"></canvas></div>
            </ion-slide>

          </ion-slides>


          <!-- <div id="chartContainer" style="height: 370px; width: 100%;"></div> -->

       </div>

    </ion-content>

