page-sign-up {
    ion-content {
        background-image: url("../assets/images/bg.jpg");
        background-size: cover;
        text-align: center;
    }
    h2 {
        color:#fff;
        margin-top:20px;
        font-weight: lighter;
    }
    img {
       width:100px;
       margin:auto;
       margin-top:20px;
    }
  .input1{
padding: 10px;
border:none !important;
border-bottom:1px solid #fff !important;
width:85%;
margin:auto;
margin-bottom:15px;
background: transparent;
color:#fff;
  }
  ::placeholder {
    color:#fff;
    opacity: 0.5;
    
  }
  .item-md {
    background-color:none !important;
  }
  .gender {
    width:87%;
    margin:auto;
  }
.login {
    webkit-box-shadow:0px 10px 30px rgba(95,136,233,0.4);
    background: #de0946 !important;
}
.newBg{
    background-color: transparent !important;
}
.radio-md .radio-icon {
  border-color:#fff;
}
.item-radio.item-md ion-label {
  color:#fff;
}
.item-radio-checked.item-md ion-label {
  color:#ffd52f;
}
.radio-md .radio-checked {
  border-color:#ffd52f;
}
.radio-md .radio-inner {
  background-color: #ffd52f;
}
.login1 {
  background-color: transparent;
  border:1px solid #ccc;
}
}
