<ion-content hide-nav-bar="true">
  <br>
  <br>

  <h2>Sign up</h2>
  <img src="assets/images/logo.png" alt="logo">
  <br>

  <button ion-button class="login1" (click)="showDoctor('Doctor')" [ngStyle]="{'background-color': buttonColor}">Doctor</button>
  <button ion-button class="login1" (click)="showPatient('Patient')" [ngStyle]="{'background-color': buttonColor1}">Patient</button>
  <div *ngIf="patient">
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <input type="email" name="email" formControlName="email" placeholder="Email *" class="input1">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="todo.get('email').hasError(validation.type) && (todo.get('email').dirty || todo.get('email').touched)">
          {{ validation.message }}
        </div>

      </ng-container>


      <input type="text" placeholder="Password" formControlName="password" class="input1">



      <div no-lines *ngIf="( todo.get('password').hasError('required') ) && todo.get('password').touched">

        <div class="error" *ngIf="todo.get('password').hasError('required') && todo.get('password').touched">
          Password is required
        </div>

      </div>




      <input type="text" placeholder="Confirm Password" formControlName="re_password" class="input1">



      <div no-lines *ngIf="( todo.get('re_password').hasError('equalTo') || todo.get('re_password').hasError('required') ) && todo.get('re_password').touched">

        <div class="error" *ngIf="todo.get('re_password').hasError('required') && todo.get('re_password').touched">
          Confirm password is required
        </div>
        <div class="error" *ngIf="todo.get('re_password').hasError('equalTo') && todo.get('re_password').touched">
          Password Mismatch
        </div>
      </div>

      <input type="text" name="name" formControlName="name" placeholder="Patient Name *" class="input1">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div class="error-message" *ngIf="todo.get('name').hasError(validation.type) && (todo.get('name').dirty || todo.get('name').touched)">
          {{ validation.message }}
        </div>

      </ng-container>
      <input type="text" name="patientType" formControlName="patientType" placeholder="Patient type *" class="input1">
      <ng-container *ngFor="let validation of validation_messages.patientType">
        <div class="error-message" *ngIf="todo.get('patientType').hasError(validation.type) && (todo.get('patientType').dirty || todo.get('patientType').touched)">
          {{ validation.message }}
        </div>

      </ng-container>
      <input type="text" name="mobileNumber" formControlName="mobileNumber" placeholder="Mobile number *" class="input1">
      <ng-container *ngFor="let validation of validation_messages.mobileNumber">
        <div class="error-message" *ngIf="todo.get('mobileNumber').hasError(validation.type) && (todo.get('mobileNumber').dirty || todo.get('mobileNumber').touched)">
          {{ validation.message }}
        </div>

      </ng-container>

      <input type="number" formControlName="contactNumber" placeholder="Emergency contact number *" name="contactNumber"
        class="input1">
      <input type="text" formControlName="age" name="age" placeholder="Age *" class="input1">
      <ng-container *ngFor="let validation of validation_messages.age">
        <div class="error-message" *ngIf="todo.get('age').hasError(validation.type) && (todo.get('age').dirty || todo.get('age').touched)">
          {{ validation.message }}
        </div>

      </ng-container>

      <div style="clear:both;"></div>
      <div class="gender">

        <ion-list radio-group name="gender" formControlName="gender">
          <ion-row>
            <span class="text-left" style="text-align: left !important;font-size:12px;color:#fff;line-height:30px;"
              col-2>Gender</span>

            <ion-item class="newBg" col-5>
              <ion-label style="font-size:12px !important;">Female</ion-label>
              <ion-radio value="Female"></ion-radio>
            </ion-item>
            <ion-item class="newBg" col-5>
              <ion-label style="font-size:12px !important;">Male</ion-label>
              <ion-radio value="Male"></ion-radio>
            </ion-item>
          </ion-row>
        </ion-list>

      </div>

      <button color="rose" type="submit" [disabled]="!todo.valid" ion-button class="login">Submit</button>

    </form>
  </div>
  <div *ngIf="doctor">
    <form [formGroup]="todoNew" (ngSubmit)="anotherForm()">

      <input type="email" name="emails" formControlName="emails" placeholder="Email *" class="input1">
      <ng-container *ngFor="let validations of doctor_messages.emails">
        <div class="error-message" *ngIf="todoNew.get('emails').hasError(validations.type) && (todoNew.get('emails').dirty || todoNew.get('emails').touched)">
          {{ validations.message }}
        </div>

      </ng-container>


      <input type="text" placeholder="Password" formControlName="passwords" class="input1">



      <div no-lines *ngIf="( todoNew.get('passwords').hasError('required') ) && todoNew.get('passwords').touched">

        <div class="error" *ngIf="todoNew.get('passwords').hasError('required') && todoNew.get('passwords').touched">
          Password is required
        </div>

      </div>




      <input type="text" placeholder="Confirm Password" formControlName="re_passwords" class="input1">



      <div no-lines *ngIf="( todoNew.get('re_passwords').hasError('equalTo') || todoNew.get('re_passwords').hasError('required') ) && todoNew.get('re_passwords').touched">

        <div class="error" *ngIf="todoNew.get('re_passwords').hasError('required') && todoNew.get('re_passwords').touched">
          Confirm password is required
        </div>
        <div class="error" *ngIf="todoNew.get('re_passwords').hasError('equalTo') && todoNew.get('re_passwords').touched">
          Password Mismatch
        </div>
      </div>

      <input type="text" name="names" formControlName="names" placeholder="Doctor Name *" class="input1">
      <ng-container *ngFor="let validations of doctor_messages.names">
        <div class="error-message" *ngIf="todoNew.get('names').hasError(validations.type) && (todoNew.get('names').dirty || todoNew.get('names').touched)">
          {{ validations.message }}
        </div>

      </ng-container>

      <input type="text" formControlName="qualification" name="qualification" placeholder="Qualification *" class="input1">
      <ng-container *ngFor="let validations of doctor_messages.qualification">
        <div class="error-message" *ngIf="todoNew.get('qualification').hasError(validations.type) && (todoNew.get('qualification').dirty || todoNew.get('qualification').touched)">
          {{validations.message}}
        </div>

      </ng-container>
      <input type="text" formControlName="specialization" name="specialization" placeholder="Specialization *" class="input1">
      <ng-container *ngFor="let validations of doctor_messages.specialization">
        <div class="error-message" *ngIf="todoNew.get('specialization').hasError(validations.type) && (todoNew.get('specialization').dirty || todoNew.get('specialization').touched)">
          {{validations.message}}
        </div>

      </ng-container>

      <input type="text" formControlName="expierence" name="expierence" placeholder="Experience *" class="input1">

      <ng-container *ngFor="let validations of doctor_messages.expierence">
        <div class="error-message" *ngIf="todoNew.get('expierence').hasError(validations.type) && (todoNew.get('expierence').dirty || todoNew.get('expierence').touched)">
          {{validations.message}}
        </div>

      </ng-container>
      <input type="text" formControlName="awards" name="awards" placeholder="Awards *" class="input1">

      <ng-container *ngFor="let validations of doctor_messages.awards">
        <div class="error-message" *ngIf="todoNew.get('awards').hasError(validations.type) && (todoNew.get('awards').dirty || todoNew.get('awards').touched)">
          {{validations.message}}
        </div>

      </ng-container>


      <input type="text" formControlName="ages" name="ages" placeholder="Age *" class="input1">
      <ng-container *ngFor="let validations of doctor_messages.ages">
        <div class="error-message" *ngIf="todoNew.get('ages').hasError(validations.type) && (todoNew.get('ages').dirty || todoNew.get('ages').touched)">
          {{ validations.message }}
        </div>

      </ng-container>
      <div style="clear:both;"></div>
      <div class="gender">

        <ion-list radio-group name="gender" formControlName="gender">
          <ion-row>
            <span class="text-left" style="text-align: left !important;font-size:12px;color:#fff;line-height:30px;"
              col-2>Gender</span>

            <ion-item class="newBg" col-5>
              <ion-label style="font-size:12px !important;">Female</ion-label>
              <ion-radio value="Female"></ion-radio>
            </ion-item>
            <ion-item class="newBg" col-5>
              <ion-label style="font-size:12px !important;">Male</ion-label>
              <ion-radio value="Male"></ion-radio>
            </ion-item>
          </ion-row>
        </ion-list>

      </div>

      <button color="rose" type="submit" [disabled]="!todoNew.valid" ion-button class="login">Submit</button>

    </form>
  </div>




</ion-content>
