page-patient-profile {
  ion-content{
    background:#edf2f5 !important;
}
.bg {
    background-image: url("../assets/images/bg1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 2%;
    padding-bottom: 16%;

 }
 #notifications-badge {
    background-color: red;
    position: absolute;
    top: -27px;
    right: -3px;
    border-radius: 100%;
}
 .card-content-md {
    padding: 0px 10px !important;
    font-size: 1.4rem;
    line-height: 1.5;
}
.toolbar-background-md {
  background:#dd0940 !important;
}

.back-button-icon-md {
  color:#fff !important;
}

 .profile {
    width:75px;
    height:75px;
 }
 ion-card img {
     width:auto !important;
     margin:auto !important;
 }
 h4 {
     font-size:16px;
     color:#fff;
     font-weight:lighter;
 }
 p {
     font-size:11px;
     color:#fff;
     font-weight:lighter;
 }
 ion-card {
     min-height:100px
 }
}
