<div class="popup">

<ion-header >

    <ion-navbar>
      <ion-title>Add {{addingUser}}  </ion-title>
      <ion-buttons end>
        <button ion-button (click)="closeModal()"><ion-icon name="close-circle" style="color:red;font-size: 20px;"></ion-icon></button>
      </ion-buttons>
    </ion-navbar>

  </ion-header>


  <ion-content padding>
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      <ion-list radio-group>
          <ion-item *ngFor="let item of itemList">
            <ion-label *ngIf="addingUser === 'Doctor'">{{item.doctorname}}</ion-label>
            <ion-label *ngIf="addingUser === 'Patient'">{{item.patientname}}</ion-label>
            <ion-radio [checked]="item === selectedItem" (click)="select(item)"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-footer style=" background: rgba(255, 255, 255, 0.5);">

            <ion-row>
              <ion-col col-6 text-center><button ion-button  color="danger" style="width:100px;text-align:center;" (click)='closeModal();'>cancel</button></ion-col>

              <ion-col col-6 text-center><button ion-button  style="width:100px;text-align:center;"  (click)='selected();'>ok</button></ion-col>
            </ion-row>
          </ion-footer>

  </ion-content>
  </div>
