
    page-add-user  {
        background: rgba(0, 0, 0, 0.5);
       .popup{
        position: absolute;
        top: 20%;
        left: 10%;
        bottom: 10%;
        display: block;
        width: 80%;
        height: 60%;
        // background-color: white;
        border-radius: 10px;
        overflow: hidden;
       }
    }

